Welcome to the store administrative interface!
<p>
  <a href="/products"> View the product list. </a>
</p>

<p>
  <a href="/categories"> View the category list. </a>
</p>

<p>
  <a href="/vendors"> View the vendor list. </a>
</p>
