<form action="/products" method="post">
  <p>
    <label>Name:</label>
    <input type="text" name="name">
  </p>

  <p>
    <label>Price:</label>
    <input type="number" name="price">
  </p>

  <p>
    <label>Description:</label>
    <textarea name="description"></textarea>
  </p>

  <p>
    <input type="submit" name="" value=" Create the new product.">
  </p>
</form>
